img.profile_picture {
  display: inline-block;
  width: 30%;
  border-radius: 125px;
  border-color: #8e8e93;
  border-width: 2px;
  margin: 15px;
}

/* Mini CV */

div.mini_cv {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: auto;
  padding: 10px;
}

div.mini_cv_content {
  vertical-align: top;
  display: inline-block;
  width: 60%;
}

/* Work In Progress */
div.site_in_progress {
  margin: auto;
  display: block;
}

h1.site_in_progress_title {
  margin: 50px;
  text-align: center;
}
