body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  color: #0A84FF
}

h2 {
  color: #8E8E93
}

hr {
  color: #8E8E93;
  margin: 25px;
}

a {
  text-decoration: none;
  font-weight: bold;
}
